<div class="lineup"><h1>Welcome to Facebase</h1>
<h3>This is the basecamp for Facebase, a new social networking website!</h3>
<p>costs are $200 a month, charged by email to your undisclosed credit card. </p>

<% @users.each do |user| %>
	<div class="media">
		<a class="pull-left" href="#">
			<%= image_tag(gravatar_url(user.email), class: "media-object") %>
		</a>
		<div class="media-body">
			<h4 class="media-heading"><%= user.name %></h4>
			<div class="media">
			</div>
		</div>
	</div>
</div>

<% end %>