
<html>
<title>Newsletter</title>
	<head>
	</head>

	 <body>
		<h2>We just had someone sign up for our newsletter</h2>
		<p>Name: <%= @params[:name]  %></p>
		<p>Email:	<%= @params[:email] %></p>
	 </body>	
</html>