<html>
	<head>
		<title>FACEBASE</title>
	</head>
	<body>
	<h2>Facebase</h2>
		<%= yield %>
	<p>
		Your friends, <br />
		The Facebase Team
	</p>

		<p>sent by Facebase.ninja 2014 &copy;</p>


	</body>
</html>